@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 put this at the very end of the file */
.no-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}
